header {
    margin-top: 20px;
    line-height: 0;
    border: 1px solid #eaeaea;
    border-radius: 2.5vw;
    overflow: hidden;
    -webkit-box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.05);
}

/*header:focus{
    -webkit-box-shadow: 0 10px 40px -5px rgba(0,0,0,0.1);
    box-shadow: 0 10px 40px -5px rgba(0,0,0,0.1);
}*/

header > .footer {
    position: relative;
    background-color: white;
    padding: 20px;
    padding-left: calc(6vw + 15vw);
    padding-top: 2vw;
    line-height: normal;
}

.banner {
    min-height: 12vw;
    background-color: #1da1f2;
}

.avatar {
    position: absolute;
    left: 3vw;
    top: calc(-8.9vw - 5px);
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border: 5px solid white;
    background-color: #fcfcfc;
}

header h1,
header h2 {
    margin: 10px 0;
}

header h1 {
    font-size: 2.5em;
}

header h2 {
    color: #8e8e8e;
}

header > div > .externallink {
    position: absolute;
    right: 3vw;
    top: 2vw;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #1da1f2;
    border: 1px solid #6b6b6b;
    border-radius: 4px;
}

header > div > .externallink:hover {
    color: #eaeaea;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

header > div > .externallink:focus {
    transform: translate(0, 1px);
}

header > div > .externallink > .fa-external-link {
    top: 3px;
    position: relative;
    margin-left: 3px;
    font-size: 1.2em;
}

@media only screen and (max-width: 700px) {
    header > .footer {
        padding-top: 8vw !important;
        padding-left: 3vw;
        padding-bottom: 3vw;
        padding-right: 3vw;
    }
    header > div > .externallink {
        display: block;
        position: relative;
        right: 0;
        top: 0;
        margin: 5px 0;
    }
    header > div > .externallink > .fa-external-link {
        float: right;
    }
}

#optionmenu {
    position: absolute;
    right: 1.5vw;
    top: 2vw;
    padding: 10px 0;
    font-size: 2em;
    color: #8e8e8e;
    cursor: pointer;
}

#optionmenu:hover {
    color: black;
}

#optionmenu:active {
    color: #8e8e8e;
}

#optionmenu > input {
    display: none;
}

#optionmenu > ul {
    display: none;
    position: absolute;
    top: 0;
    right: 20px;
    min-width: 100px;
    width: 12vw;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.05);
}

#optionmenu > ul:before {
    content: "";
    position: absolute;
    left: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 10px solid white;
    border-bottom: 8px solid transparent;
}

#optionmenu > ul > li {
    padding: 5px;
}

#optionmenu > input:checked + ul {
    display: block;
}

main {
    color: #8e8e8e;
    font-style: italic;
}

main a {
    color: #6a6a6a;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

main a:focus {
    text-decoration: none;
}

main .code {
    background-color: #8e8e8e;
}